.container {
  background-color: rgb(46, 181, 226);
   display: flex;
  flex-direction: column;
  flex-wrap: wrap; 
  
}

#app {
  flex-direction: column;
 display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  /* align-items: center; */
  justify-content: space-evenly;
}

.pets-button {
  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content:center;

  
}
